*.test.csv
*.test.ore
*.test.mp
*.test.log
*.test.txt
*.test.log-info
*.ytp
*.pem
debug
release
.format/*
*.pyc
doc
*_test.csv
*_test.mp
*.test

build
build/*
.vscode/*
.idea/*
test/.DS_Store
.DS_Store
.cproject
.project
.pydevproject
.settings/*
